## Looping Statements - Practice Exercise - Solutions

#### 01. Print -10 to -1 using *for* loop

In [4]:
for item in range(-10, 0):
    print(item)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### Alternate Solution - using List Comprehension

In [5]:
[print(item) for item in range(-10, 0)]

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

[None, None, None, None, None, None, None, None, None, None]

#### 02. Using *while* loop, print numbers 1 to 10

In [6]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#### 03. Using *for* loop, print first ten even numbers

In [9]:
[print(item) for item in range(0, 20, 2)]

0
2
4
6
8
10
12
14
16
18

[None, None, None, None, None, None, None, None, None, None]

#### 04. Using *while* loop, generate the table/multiples of 5
##### Sample Output -
5 * 1 = 5\
5 * 2 = 10\
5 * 3 = 15\
so on

In [11]:
x = 5
i = 1
while i <= 10:
    print(f'{x} x {i} = ', x*i)
    i += 1

5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50

#### 05. Using *for* loop, generate the prime numbers till 100

In [17]:
upper = 100
primes = []
for num in range(2, upper+1):
    for i in range(2, num):
        if (num%i)==0:
            break
    else:
        primes.append(num)
            
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### 06. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
##### If a number is divisible by 5, then print Buzz.
##### If a number is divisible by 3 and 5 both, then print FizzBuzz
##### If a number is neither divisible by 3 nor by 5, then just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [18]:
for num in range(1, 101):
    if num%3 == 0 and num%5==0:
        print(num, ': ', 'FizzBuzz')
    elif num%3==0:
        print(num, ': ', 'Fizz')
    elif num%5==0:
        print(num, ': ', 'Buzz')
    else:
        print(num)

1
2
3 :  Fizz
4
5 :  Buzz
6 :  Fizz
7
8
9 :  Fizz
10 :  Buzz
11
12 :  Fizz
13
14
15 :  FizzBuzz
16
17
18 :  Fizz
19
20 :  Buzz
21 :  Fizz
22
23
24 :  Fizz
25 :  Buzz
26
27 :  Fizz
28
29
30 :  FizzBuzz
31
32
33 :  Fizz
34
35 :  Buzz
36 :  Fizz
37
38
39 :  Fizz
40 :  Buzz
41
42 :  Fizz
43
44
45 :  FizzBuzz
46
47
48 :  Fizz
49
50 :  Buzz
51 :  Fizz
52
53
54 :  Fizz
55 :  Buzz
56
57 :  Fizz
58
59
60 :  FizzBuzz
61
62
63 :  Fizz
64
65 :  Buzz
66 :  Fizz
67
68
69 :  Fizz
70 :  Buzz
71
72 :  Fizz
73
74
75 :  FizzBuzz
76
77
78 :  Fizz
79
80 :  Buzz
81 :  Fizz
82
83
84 :  Fizz
85 :  Buzz
86
87 :  Fizz
88
89
90 :  FizzBuzz
91
92
93 :  Fizz
94
95 :  Buzz
96 :  Fizz
97
98
99 :  Fizz
100 :  Buzz

#### 07. Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [20]:
print(sum(range(1, 101)))

5050

#### Alternate Solution - formula to find sum of first n natural numbers is (n*(n+1)/2).

In [21]:
def alt_solution(n):
    return (n*(n+1)/2)

print(alt_solution(100))

5050.0

#### 08. Write a program that will find all the numbers which are divisible by 7 and are not a multiple of 5, between 202 and 320 (both included).

In [23]:
def program_7s_and_5s():
    out = []
    for num in range(202, 321):
        if num%7==0 and num%5!=0:
            out.append(num)
        else:
            continue
    return out

print(program_7s_and_5s())

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

#### 09. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [26]:
vowels = ['a', 'e', 'i', 'o', 'u']
st = 'Data Science'
output = 0
for vow in vowels:
    output += st.lower().count(vow)
    
print(output)

5

#### Alternate Solution - Use the "in" operator

#### 10. A number is said to be an Armstrong Number if the sum of cubes of the digits of the umber is equal to the actual number itself.
##### For Example : 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153

##### Write a program to print if the number is Armstrong number or not.

In [33]:
def armstrong(num):
    temp_lst = [int(a) for a in str(num)]
    temp_lst = [elem**3 for elem in temp_lst]
    if sum(temp_lst) == num:
        print(f'{num} is an armstrong number')
    else:
        print(f'{num} is NOT an armstrong number')

armstrong(153)

153 is an armstrong number

--------------