## Introduction to Variables - Practice Exercise - Solutions

#### 01. Add var1 and var2 to create a new variable called var3. Find the datatype of var3. Comment what you observe.

var1, var2 = 10, 5.1 <br>
var3 = var1 + var2

In [3]:
var1, var2 = 10, 5.1
var3 = var1+var2
print(var3, type(var3))
# adding a float to an int is fine, but the result will be float as it will contain a floating decimal

15.1 <class 'float'>

#### 02. Convert an integer variable *x* to float and print it. Check the new format of the variable.
x = 3

In [4]:
x = 3
x = float(x)
print(x, type(x))

3.0 <class 'float'>

#### 03. Write a print statement which can print a value and 5 times that value in a single statement

In [6]:
print(3, 3*5)

3 15

#### 04. Write a program to calculate the area of a triangle with base = 10 and height = 5
Hint : area of triangle = 1/2 * base * height

In [8]:
def triangle_area(base, height):
    return .5 * base * height

print(triangle_area(10, 5))

25.0

#### 05. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If<br>
v = 10<br>
w = 25<br>
x = 70<br>
y = 2

In [10]:
def calc(v, w, x, y):
    return ((v+w) * (x/y))

v, w, x, y = 10, 25, 70, 2
print(calc(v, w, x, y))

1225.0

#### 6. Swap values of *a* and *b* 

If before swapping a = 10 and b = 5,<br>
Then after swapping it should be a = 5 and b = 10

In [14]:
a, b = 10, 5
def value_swap(a, b):
    a, b = b, a
    return a, b

a, b = value_swap(a, b)
print('a: ', a, 'and b: ', b)

a:  5 and b:  10

#### Alternate Solution - 1! (without using third variable)

In [16]:
a, b = 10, 5
a, b = b, a
print(f'a = {a}, and b = {b}')

a = 5, and b = 10

#### Alternate Solution - 2! (using the XOR operator)

In [18]:
a = 10
b = 5

print('The value of a is: ', a)
print('The value of b is: ', b)

a ^= b
b ^= a
a ^= b

print('After swapping: ')
print('The value of a is: ', a)
print('The value of b is: ', b)

The value of a is:  10
The value of b is:  5
After swapping:
The value of a is:  5
The value of b is:  10

#### 07. Convert 35 degree Celsius temperature to Fahrenheit

##### Hint : Farenheit = Celsius * 1.8 + 32

In [17]:
def c_to_f(c):
    return c * 1.8 + 32

print(c_to_f(35))

95.0

--------------