**Let's display our first message in python.**

* We can use the print() function for this purpose.

In [2]:
print("Hello World!")

Hello World!

Let's print some more values.

In [3]:
# printing the current year
print(2021)

2021

In [4]:
# printing the value of pi upto 2 decimal places
print(3.14)

3.14

In the above cells, we have printed different values of different data types. 

There are various data types in Python, such as:
1. Numeric - This is further divided into:

    (a) Integer (int) - 2021
    
    (b) Float (float) - 3.13
    
2. String (str) - 'Hello World!'


* We might want to refer to the above-printed values later in the session.
* But we will have to print them again if we want to do so.
* Can we store these values?
* Yes, we can. We will have to create a variable that can store a value.

In [5]:
message = 'Hello World!'
print(message)

Hello World!

* In the above cell, 'message' is a **variable**.

* Variables can store data of different types.

* Let's store other values as well.

In [6]:
year = 2021
pi = 3.14

* How to check that we have created a variable of which data type?
* Python provides an in-built function, called *type()*, to ease the task of checking the data type of a variable.

In [7]:
type(year)

int

In [8]:
type(pi)

float

# <font color='Blue'> Your turn to code! </font>

In [9]:
### Check the data type of the 'message' variable 
type(message)

str

* Till now, we have created the variables where we assigned a fixed value to them. 
* Can we create a variable that can ask for input from the user? Yes, we can
* The *input()* function of python will help us do that.

In [10]:
print('Enter your name')
name = input()

Enter your name
Chuck Williams

In [11]:
# Let's print the value we took as an input
print(name)

Chuck Williams

# <font color='Blue'> Your turn to code! </font>

In [13]:
### Create a variable which will take an input of your city 
city = input("Enter your city ")
city

Enter your city Denver

'Denver'

### Arithmetic Operations

**Which year will we be in 10 years from now?**

In [14]:
future_year = year + 10
print(future_year)

2031

**Which year was the person born in if the current age of that person is 20 years?**

In [15]:
age = 20

In [16]:
birth_year = year - age
print(birth_year)

2001

* The person was born in the year 2001.

### Till now, we have dealt with some common questions. But the operations we have discussed so far and the ones we will discuss ahead can be applied to solve business problems too.

### Let's move forward with our discussion on the basis of a superstore's business case.

**WOW Superstore** sells different products like office supplies, furniture, and appliances. For each order that is placed, the superstore keeps a record of various attributes related to the product, like state, city, category, subcategory, and quantity.

**The superstore has a stock of 100 phones. Recently, an order was placed for 20 phones. It has to be updated to add 10 more phones.**

In [17]:
order_init = 20
print('Initial order:', order_init)

order_upd = order_init + 10
print('Updated order:', order_upd)

Initial order: 20
Updated order: 30

**The inventory has to be updated as per the updated order. We will have to subtract the quantity of phones in the updated order (order_upd) from the initial inventory count of 100.**

In [18]:
inventory_init = 100
print('Initial Inventory:', inventory_init)

inventory_upd = inventory_init - order_upd
print('Updated Inventory:', inventory_upd)

Initial Inventory: 100
Updated Inventory: 70

**The cost of each phone is $150.50. Let's compute the total amount for the updated order (order_upd).**

In [19]:
unit_price_phone = 150.50

total_amnt_phone = order_upd * unit_price_phone

print('Total Order Amount:', total_amnt_phone)

Total Order Amount: 4515.0

**A new order has been placed for 5 printers. The unit price of one printer is 20 dollars more than twice the unit price of a phone. Let's find the total amount of the order.**

In [20]:
quantity_printer = 5
unit_price_printer = 20 + (2 * unit_price_phone)
total_amnt_printer = unit_price_printer * quantity_printer

print('Total Order Amount:', total_amnt_printer)

Total Order Amount: 1605.0

# <font color='Blue'> Your turn to code! </font>

In [21]:
## Compute the total amount for an order of 20 chairs. The unit price of the chair is 20 dollars
quantity_chairs = 20
unit_price_chairs = 20
total_amount_chairs = quantity_chairs * unit_price_chairs
print('Total chair order amount: ', total_amount_chairs)

Total chair order amount:  400

### Conditional Operators and Statements

* Conditional Operators are used to compare two values.

|Operator|Symbol in Python|
|---|---|
|Equals| ==|
| Greater than| >|
| Less than| <|

**Let's check if the total amount for an order of 10 phones at 200 dollars each is greater than 4000 dollars or not?**

In [22]:
total_amount = 10*200
total_amount > 4000

False

* The value *True* is another data type in Python, called the *bool* type.

**Let's check if the total amount for an order of 10 phones at 200 dollars each is equal to 4000 dollars or not?**

In [23]:
total_amount == 4000

False

# <font color='Blue'> Your turn to code! </font>

In [24]:
## Check if the total amount for an order of 20 chairs at 50 dollars each is less than 2000 dollars or not?
total_amount_chairs = 20 * 50
total_amount_chairs < 2000

True

**If the total amount for an order is less than 400 dollars the shipping charge of 20 dollars is applicable.  Let's display a message that informs a customer about the same.**

* In such cases, we need to perform different computations or actions depending on whether a condition is satisfied or not.
* Conditional Statements will be useful in cases where we have to make decisions.
* Python uses *if-else* statements for such decision-making operations.

In [25]:
if total_amount < 400:
  print('20 dollars shipping charges are applicable on this order')
else:
  print('No shipping charges on this order!')

No shipping charges on this order!

**For the upcoming Black Friday sale, the superstore is providing a discount of 20% on phones but, there is no discount on any other product.**

**For a given product, let's display a message that informs a customer about how much discount they will get on their order.**

In [26]:
print('Enter the product: ')
product = input()

if product == 'phone':
    print('You will receive a 20% discount on this product!!')
else:
    print('Sorry! There is no discount on this product.')

Enter the product:
truck
Sorry! There is no discount on this product.