-----
# **Context**
-----

**WOW Superstore** sells different products like office supplies, furniture and appliances. For each order that is placed, the superstore keeps a record of various attributes related to the product, like state, city, category, subcategory and quantity.

**WOW Superstore has provided a snapshot of some of the product attributes stored by them.**

| Order ID | Category | Sub-Category | Quantity | Unit Price |
| --- | --- | --- | --- | --- | 
| WOWORD001 | Office Supplies | Binders | 3 | 10.20 |
| WOWORD002 | Technology | Phones | 30 | 150.50 |
| WOWORD003 | Office Supplies | Paper | 50 | 4.50 |
| WOWORD004 | Furniture | Chairs | 5 | 30.75 |
| WOWORD005 | Office Supplies | Binders | 2 | 10.20 |

We know how to create a variable to store an order ID.

In [1]:
id = "WOWORD001"
print(id)

WOWORD001

**Let's create a variable that will store all the order IDs.**

In [2]:
order_id = "WOWORD001"
order_id = "WOWORD002"
order_id = "WOWORD003"
order_id = "WOWORD004"
order_id = "WOWORD005"

print("Order IDs: ", order_id)

Order IDs:  WOWORD005

* That didn't work! The value of the variable got updated at each step.
* How do we store all the values in one variable?
* We will have to create a 'list' of values.

In [3]:
order_id_list = ["WOWORD001", "WOWORD002", "WOWORD003", "WOWORD004"]

# let's print the list we just created
print('Order IDs:', order_id_list)

Order IDs: ['WOWORD001', 'WOWORD002', 'WOWORD003', 'WOWORD004']

* That seems to have worked.
* But we missed one order ID.
* Will we have to recreate the list from scratch?
* NO! We can add the missed order ID to the current list using the *append()* function.

In [4]:
order_id_list.append("WOWORD005")
print('Order IDs:', order_id_list)

Order IDs: ['WOWORD001', 'WOWORD002', 'WOWORD003', 'WOWORD004', 'WOWORD005']

* The list of order IDs is fixed now.
* Let's create lists for the other attributes too.

In [5]:
category_list = ['Office Supplies', 'Technology', 'Office Supplies', 'Furniture', 'Office Supplies']
sub_category_list = ['Binders', 'Phones', 'Paper', 'Chairs', 'Binders']
quantity_list =[3, 30, 50, 5, 2]
unit_price_list = [10.20, 150.50, 4.50, 30.75, 10.20]

In [7]:
# let's print the lists we created
print('Category List:',category_list)
print('Sub-Category List:',subcategory_list)
print('Quantity List:',quantity_list)
Print('Unit Price List:',unit_price_list)

Category List: ['Office Supplies', 'Technology', 'Office Supplies', 'Furniture', 'Office Supplies']

NameError: name 'subcategory_list' is not defined

* Something went wrong as we got an error.
* The error is raised as we have misspelled the variable name.
* Let's correct the error and run the code again.

In [8]:
# let's print the lists we created
print('Category List:',category_list)
print('Sub-Category List:',sub_category_list)
print('Quantity List:',quantity_list)
Print('Unit Price List:',unit_price_list)

Category List: ['Office Supplies', 'Technology', 'Office Supplies', 'Furniture', 'Office Supplies']
Sub-Category List: ['Binders', 'Phones', 'Paper', 'Chairs', 'Binders']
Quantity List: [3, 30, 50, 5, 2]

NameError: name 'Print' is not defined

* We have encountered an error again.
* The error is raised as we have misspelled the function name.
* Python is case-sensitive. So, print() and Print() are different functions.
* Let's correct the code and run it again.

In [9]:
# let's print the lists we created
print('Category List:',category_list)
print('Sub-Category List:',sub_category_list)
print('Quantity List:',quantity_list)
print('Unit Price List:',unit_price_list)

Category List: ['Office Supplies', 'Technology', 'Office Supplies', 'Furniture', 'Office Supplies']
Sub-Category List: ['Binders', 'Phones', 'Paper', 'Chairs', 'Binders']
Quantity List: [3, 30, 50, 5, 2]
Unit Price List: [10.2, 150.5, 4.5, 30.75, 10.2]

**Let's see the number of records in the snapshot shared by WOW Superstore.**

* We can directly count the number of records here as there are a few of them.
* But what if we had more? Manual counting is not an efficient method here.
* Python provides an in-built function, called *len()*, to ease the task of counting the number of records.

In [10]:
len(order_id_list)

5

* We have 5 records in the list.

**Let's find the minimum unit price among the products in the snapshot.**

* The *min()* function will help us here.

In [11]:
min(unit_price_list)

4.5

The minimum unit price among all the products in the snapshot is 4.5 dollars.

**Let's find the maximum quantity among the products in the snapshot.**

* The *max()* function will help us here.

In [12]:
max(quantity_list)

50

The maximum quantity among all the products in the snapshot is 50 units.

# <font color='Blue'> Your turn to code! </font>

In [14]:
## find the minimum quantity among the products in the snapshot.
min(quantity_list)

2

**We want to display a message for the customer highlighting the category of the product they have ordered.**

* We have to go through each product one by one and print a custom message depending upon the category.
* This would require us to write 5 print() statements.
* Instead, we can use looping statements to traverse the entire list in one go.

In [15]:
for item in category_list:
  print('You have ordered a product from category', item)

You have ordered a product from category Office Supplies
You have ordered a product from category Technology
You have ordered a product from category Office Supplies
You have ordered a product from category Furniture
You have ordered a product from category Office Supplies

**The superstore is placing a shipping charge of 20% of the unit price of each product. We want to determine the unit price for each product including shipping charges.**

* We will first create an empty list.
* Then we will loop over all the values in the current list.
* For each current value, we will compute the new value, and then add it to the empty list.

In [16]:
# creating an empty list to store the new unit prices
new_unit_price_list = []

# we will now use the existing unit price list to compute the values for the new unit price list
for item in unit_price_list:
  new_item = item + item*0.20

  # adding the new value to the new list
  new_unit_price_list.append(new_item)

In [17]:
# printing the new list
print(new_unit_price_list)

[12.239999999999998, 180.6, 5.4, 36.9, 12.239999999999998]

# <font color='Blue'> Your turn to code! </font>

In [20]:
## display a message for the customer highlighting the subcategory of the product they have ordered
for i in range(len(category_list)):
  print('You have ordered a product from category', category_list[i], 
        '\n', 'With sub-category of: ', sub_category_list[i])

You have ordered a product from category Office Supplies
 With sub-category of:  Binders
You have ordered a product from category Technology
 With sub-category of:  Phones
You have ordered a product from category Office Supplies
 With sub-category of:  Paper
You have ordered a product from category Furniture
 With sub-category of:  Chairs
You have ordered a product from category Office Supplies
 With sub-category of:  Binders

### pandas dataframe

* If we want to analyze this data, we will have to work with multiple lists. 
* It will not be feasible to apply different operations on multiple lists, especially if the number of attributes increases.
* Also, we are able to work on and view only one dimension of the data in the snapshot.
* So, it is clear we need a more efficient way of handling the data simultaneously at the attribute and record levels.
* In Python, we can do this with pandas dataframe.

* pandas is a powerful, easy-to-use, open-source Python library used for data analysis and manipulation.
* It is very useful when working with tabular data.
* Python has many other libraries which are useful for different tasks.
* We can import these libraries into a Jupyter notebook to access and use the functionalities of these libraries.

**Let's combine the lists we created into a dataframe. To do that, we have to first import the pandas library.**

In [21]:
# importing the pandas library
import pandas as pd

* Let's first create an empty dataframe.

In [22]:
superstore_data = pd.DataFrame()

* Next, we will add one column to the empty dataframe.

In [23]:
superstore_data['OrderId'] = order_id_list

In [24]:
# displaying the dataframe
superstore_data

     OrderId
0  WOWORD001
1  WOWORD002
2  WOWORD003
3  WOWORD004
4  WOWORD005

 * Now, let's add the other columns.

In [25]:
superstore_data['Category'] = category_list
superstore_data['Sub_Category'] = sub_category_list
superstore_data['Quantity'] = quantity_list
superstore_data['Unit Price'] = unit_price_list
superstore_data['New Unit Price'] = new_unit_price_list

In [26]:
# displaying the dataframe
superstore_data

,OrderId,Category,Sub_Category,Quantity,Unit Price,New Unit Price
0,WOWORD001,Office Supplies,Binders,3,10.20,12.24
1,WOWORD002,Technology,Phones,30,150.50,180.60
2,WOWORD003,Office Supplies,Paper,50,4.50,5.40
3,WOWORD004,Furniture,Chairs,5,30.75,36.90
4,WOWORD005,Office Supplies,Binders,2,10.20,12.24

**Let's create another column 'Total_Amount' in the dataframe that will contain the product of quantity and new unit price.**

In [27]:
superstore_data['Total_Amount'] = superstore_data['Quantity'] * superstore_data['New Unit Price']
superstore_data

,OrderId,Category,Sub_Category,Quantity,Unit Price,New Unit Price,Total_Amount
0,WOWORD001,Office Supplies,Binders,3,10.20,12.24,36.72
1,WOWORD002,Technology,Phones,30,150.50,180.60,5418.00
2,WOWORD003,Office Supplies,Paper,50,4.50,5.40,270.00
3,WOWORD004,Furniture,Chairs,5,30.75,36.90,184.50
4,WOWORD005,Office Supplies,Binders,2,10.20,12.24,24.48

* We have created the Total_Amount column successfully.

**The superstore is currently not shipping office supplies due to COVID restrictions.**

**We have to print an appropriate message for the customer depending upon the category of the product ordered.**

In [28]:
for i in superstore_data['Category']:
  print('Product Ordered:', i)
  if i == 'Office Supplies':
    print('Sorry! The product is currently not being shipped.\n')
  else:
    print('Your order will be shipped at the earliest.\n')

Product Ordered: Office Supplies
Sorry! The product is currently not being shipped.

Product Ordered: Technology
Your order will be shipped at the earliest.

Product Ordered: Office Supplies
Sorry! The product is currently not being shipped.

Product Ordered: Furniture
Your order will be shipped at the earliest.

Product Ordered: Office Supplies
Sorry! The product is currently not being shipped.

* What we saw above was just a snapshot of data.
* The complete data has a lot more columns and observations.
* It is clear that it will not be feasible to analyze the complete data by creating a dataframe from multiple lists.

* We generally have tabular data stored as CSV or Excel files.
* They can be loaded directly into a pandas dataframe.
* The WOW Superstore data is available in a CSV format.
* We can load the data into a pandas dataframe using the *read_csv()* function.

In [29]:
# loading the data file into a pandas dataframe
data = pd.read_csv('WOW Superstore.csv')

**Let's take a quick look at the data.**

In [31]:
# viewing the first 5 rows of the data
data.head()

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,WOWID0001,Standard Class,Consumer,Seattle,Washington,West,Office Supplies,Binders,407.976,3,0.2,132.5922
1,WOWID0002,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Appliances,68.810,5,0.8,-123.8580
2,WOWID0003,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Binders,2.544,3,0.8,-3.8160
3,WOWID0004,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Furniture,Bookcases,3083.430,7,0.5,-1665.0522
4,WOWID0005,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Binders,9.618,2,0.7,-7.0532

In [32]:
# viewing the last 5 rows of the data
data.tail()

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1945,WOWID1946,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Office Supplies,Paper,3.4240,1,0.20,1.0700
1946,WOWID1947,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Technology,Accessories,151.2000,3,0.20,32.1300
1947,WOWID1948,First Class,Home Office,Houston,Texas,Central,Office Supplies,Paper,65.5840,2,0.20,23.7742
1948,WOWID1949,First Class,Home Office,Houston,Texas,Central,Furniture,Bookcases,383.4656,4,0.32,-67.6704
1949,WOWID1950,Standard Class,Consumer,Houston,Texas,Central,Office Supplies,Envelopes,99.5680,2,0.20,33.6042